.fecha + .fechaClass{
    display: none;
    position: absolute;
    z-index: 999999999999999999;
    top: -40px;
    left: 15px;
}

.fecha:hover + .fechaClass{
    display: block;
}

.delay-1 {
    animation-delay: .25s;
}
.delay-2 {
    animation-delay: .5s;
}
.delay-3 {
    animation-delay: .75s;
}
.delay-4 {
    animation-delay: 1s;
}
.delay-5 {
    animation-delay: 1.25s;
}
.delay-6 {
    animation-delay: 1.50s;
}
.delay-7 {
    animation-delay: 1.75s;
}
.delay-8 {
    animation-delay: 2s;
}

.delay-9 {
    animation-delay: 2.25s;
}
.btn-sm.rounded-pill.w-100.border.mb-3,
.btn-sm.rounded-pill.d-inline.w-100.mb-2.border.mb-3{
    height: 31px;
}