.fecha + .fechaClass{
    display: none;
    position: absolute;
    z-index: 999999999999999999;
    bottom: -25px;
    left: 15px;
}

.fecha:hover + .fechaClass{
    display: block;
}

.btn-sm.rounded-pill.w-100.border.mb-3,
.btn-sm.rounded-pill.d-inline.w-100.mb-2.border.mb-3{
    height: 31px;
}